<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <title>Consulo</title>
 
  <link href="Semantic/dist/semantic.css" rel="stylesheet" type="text/css" />



  
  <style type="text/css">
	body{
		background: none repeat scroll 0% 0% #F7F7F7;
	}
	
	
	.main.container {
    background-color: #FFF;
    margin: 0em auto;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #DDD;
    padding: 2em 2em 7em;
    z-index: 1;
}	
	
	.wd{
		max-width: 1000px;
	}
	
  </style>
 
</head>
<body>


  <script src="Semantic/dist/jquery.js"></script>
  <script src="sc.js"></script>
  <script src="Semantic/dist/semantic.js"></script>
	
	<script src="script/angular.min.js"></script>
  <script src="script/angular-route.min.js"></script>
	
	
	
  <script type="text/javascript">
 
  </script>
  
	<div class="ui tiered nav menu" style="margin-top: 0px;" >
	  
		<a class="ui" style="padding: 0px;" href="/consulo"><img src="img/logo_header.png"</a>
	<!--	<a class="ui item" href="/semantic-ui-themes">menu01</a>
		<a class="ui item" href="/semantic-ui-snippets">menu02</a>
		<a class="ui item" href="/semantic-ui-snippets">menu03</a>
	-->
		
		
		<div class="right item">
			<a class="large ui button blue" style="margin-left: 1em;">Inscrivez-vous</a>
			<a class="large ui button green" style="margin-left: 1em;">Connecter</a>
		</div>
	</div>

	
	
	



	
	<div class="ui stackable responsive grid">
	
	<div class="row">

		<div class="three wide column" style="margin-top: -1rem;">
				
			<div class="column panel">
				<div class="ui blue top inverted attached segment">
					<p>Informatique</p>
				</div>
				<div class="ui attached segment">
					<p>math</p>
				</div>
				<div class="ui attached segment">
					<p>ing</p>
				</div>
				<div class="ui attached segment">
					<p>Physique</p>
				</div>
				<div class="ui attached segment">
					 <p>Chimie</p>
				</div>
				<div class="ui attached segment">
					<p>Ingenieurie</p>
				</div>
				<div class="ui attached segment">
					<p>Maths</p>
				</div>
				<div class="ui attached segment">
					<p>Physique</p>
				</div>
				<div class="ui bottom attached segment">
					 <p>Chimie</p>
				</div>
			</div>
			
			
		</div>
			<div class="thirteen wide column">
		<div id="main">
					
			
			
			<!-- -->
			

				<div class="main container">
				<h1 class="ui dividing header">texte lisible et contenant du sens</h1>
				
				
				<h3 class="ui header"><a class="author">Hassan</a> <span class="date" style="color: rgb(170, 170, 170); font-size: 0.675em; margin-left: 0.6em;">Today at 3:42PM</span> </h3>
				
				<div class="metadata">
					
				</div>	
				<p>
					On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
				</p>
				
				  
	
				
				<div class="ui green submit icon button">
					<img src="img/like.png" style="margin: -6px 6px -6px -6px;"></img> j'aime
				</div>

	  
			<!-- comment -->	
				<div class="ui comments">
  <h3 class="ui dividing header">commentaires</h3>
  <div class="comment">
    <a class="avatar">
      <img src="img/phprofil.png">
    </a>
    <div class="content">
      <a class="author">abdella</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
  
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="img/phprofil.png">
    </a>
    <div class="content">
      <a class="author">yassir3D</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
  
    </div>

  </div>
  <div class="comment">
    <a class="avatar">
      <img src="img/phprofil.png">
    </a>
    <div class="content">
      <a class="author">Hassan</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Thanks so much
      </div>
  
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>				
				</div>
				

				
			<!-- -->
		</div>
			
			
			
		</div>

  </div>
	
  </div>	
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
<!-- <div class="ui inverted footer vertical segment center">kkk</div> -->
<div class="ui inverted black footer vertical segment">
  <div class="ui container">
    <div class="ui stackable relaxed grid">
      <div class="eight wide column">
        <h3 class="ui inverted header">Consulo.ma</h3>
        <p>Consulo bla blaaa blaa blaaaaaa lkjks mlks khsq jhqdhk kjhsqjh kjhqdj kjhDQKJHS KJHDSQKJHDS KHSQJHS.</p>
		<!--
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <button type="submit" class="ui teal button">Donate Today</button>
        </form>
		-->
      </div>
      <div class="four wide right aligned column">
        <h5 class="ui blue inverted header">Chi7aja</h5>
        <div class="ui inverted link list">
          <a class="item" href="#" target="_blank">one</a>
          <a class="item" href="#" target="_blank">jojat</a>
          <a class="item" href="/cla.html" target="_blank">nnn</a>
          <a class="disabled item">Myiu</a>
        </div>
      </div>
      <div class="four wide right aligned column">
        <h5 class="ui blue inverted header">Chi7aja okhra</h5>
        <div class="ui inverted link list">
          <a class="item" href="#">1dlkj</a>
          <a class="item" href="#">ljhkhsdl</a>
          <a class="disabled item">lkjsdf</a>
          <a class="disabled item">lkjldksj</a>
        </div>
      </div>
    </div>
  </div>
</div>	

	

	
</body>
</html>